<launch>
    <!-- 需求：演示 arg 的 使用，需要设置多个参数，这些参数使用的是同一个值（小车的长度），怎么设置？ -->

    <!-- 如果有参数出现了错误，那么修改起来很麻烦 -->
    <!-- 常规写法 -->
    <!-- <param name="A" value="0.5"/>
    <param name="B" value="0.5"/>
    <param name="C" value="0.5"/> -->

    <arg name="car_length" default="0.5"/>

    <param name="A" value="${car_length}"/>
    <param name="B" value="${car_length}"/>
    <param name="C" value="${car_length}"/>

</launch>